{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "next/core-web-vitals",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "import",
    "jsx-a11y",
    "react",
    "unused-imports",
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": ["error", "double"],
    "react/jsx-props-no-spreading": "off",
    "unused-imports/no-unused-imports": "error",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".jsx", ".tsx"]
      }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "argsIgnorePattern": "_",
        "ignoreRestSiblings": false,
        "varsIgnorePattern": "_"
      }
    ],
    "import/prefer-default-export": "off",
    "arrow-body-style": "off",
    "import/no-extraneous-dependencies": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": "off",
    "react/display-name": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}
